h1 {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 10em;
    color: rgb(187, 0, 187);
    opacity: 0.5;
    margin: 0;
}

h2 {
    margin: 0;
    font-family: 'Manrope', sans-serif;
}